.preguntas .card {
    background-color: #E07A5F;
    color: #ECF0F1;
}

.preguntas button {
    text-align: start !important;
    color: #ECF0F1;
    font-weight: 700;
}

.preguntas button:hover {
    text-align: start !important;
    color: #ECF0F1;
}

.contactanos {
    background-image: url("/img/sede.png");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    opacity: 0.95;
    margin: 0;
}

.contactanos p {
    color: #ECF0F1 !important;
    font-weight: 700;
}

a {
    color: #333333 !important;
}

h4,
h1 {
    margin-left: 10%;
}

@media (max-width: 768px) {}